<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <!-- loop over the collection of products -->

        <div class="ui link five doubling cards">
          <div class="card" *ngFor="let movie of movies ">
            <div class=" image">
              <img *ngIf="movie.poster_path" class="ui middle aligned tiny image"
                src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
              <img *ngIf="!movie.poster_path" class="ui middle aligned tiny image" src="https://placehold.it/500x740">
            </div>
            <div class="content">
              <div class="header">
                {{ movie.title }}
              </div>

              <div class="description">
                <span *ngIf="language == 'pl'">Popularność</span>
                <span *ngIf="language != 'pl'">Popularity</span>
                : {{ movie.popularity  | number : '1.0-1' }}
                <br>
                <span *ngIf="language == 'pl'">Liczba głosów</span>
                <span *ngIf="language != 'pl'">Vote count</span>
                : {{ movie.vote_count }}
              </div>
            </div>
            <div class="extra content">
              <!--extra-->
              <span class="right floated">
                <h3>
                  <i class="star icon"></i>
                  {{ movie.vote_average }}
                </h3>

              </span>
              {{ movie.release_date }}
            </div>
            <!--extra-->
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- if products empty then display a message-->
  <div *ngIf="movies?.length == 0" class="alert alert-warning col-md-12" role="alert">
    No products found.
  </div>





  <!-- end footer -->
